###############
# Coding file #
###############
.vscode
.env
*.pyc
*.pyo

################
# File editing #
################
*.bak
# Vim
*.swp
*.swo
*.un~
# Emacs
*~
.#*

#########
# Video #
#########
*.bag
*.mp4

######
# RC #
######
.pylintrc
