<?xml version="1.0"?>

<!--
	Detail of this propose
		01. Open IMU Serial port 1 component
		02. Open DVL Serial port 1 component
		03. Open Pressure form elec part
		04. Open PWM node to receive PWM and sent to driver of thruster
-->

<launch>

	<arg name="dvl_serialport" default="/dev/usb2serial/ftdi_FT2VR5PM_02"/>
	<arg name="microstrain_serial" default="/dev/microstrain/3dm_gx5_45_0000__6521.659030"/>
	<arg name="modbus_serialport" defaul="/dev/usb2serial/ftdi_FT030MNT_00"/>

	<node name="imu_port" output="screen" pkg="zeabus_sensor" type="imu_port">
		<param name="mane_port_imu" value="$(arg microstrain_serial)"/>
		<param name="topic_output_port_imu_zeabus" type="str" value="/sensor/imu/port">
		<param name="topic_output_port_imu_sensor" type="str" value="/gx4_45_imu/data">
		<param name="frequency_imu" type="int" value="50"/>
	</node>

	<node name="dvl" output="screen" pkg="hg_ros_teledyne_dvl" type="dvl_node">
		<param name="device" value="$(arg dvl_serialport)"/>
		<param name="baudrate" value="115200"/>
		<param name="velocity_stdev" value="0.018"/>
		<param name="ublish_invalid_data" value="true"/>
	</node>

	<include file="$(find zeabus_elec_ros_hardward_interface)/launch/hardware_interface.launch"/>
	
	<include file="$(find hg_ros_pololu)/launch/maestro8.launch"/>

</launch>
