<?xml version="1.0"?>

<!--
	Detail of this propose
		01. Open IMU Serial port 1 component
		02. Open DVL Serial port 1 component
		03. Open Pressure form elec part
		04. Open PWM node to receive PWM and sent to driver of thruster
-->

<launch>

	<arg name="dvl_serialport" default="/dev/usb2serial/ftdi_FT2VR5PM_02"/>
	<arg name="microstrain_serial" default="/dev/microstrain/3dm_gx5_45_0000__6251.65903"/>
	<arg name="modbus_serialport" defaul="/dev/usb2serial/ftdi_FT030MNT_00"/>

	<node name="imu_port" output="screen" pkg="zeabus_sensor" type="imu_port">
		<param name="name_port_imu" value="$(arg microstrain_serial)"/>
		<param name="topic_output_port_imu_zeabus" type="str" value="/sensor/imu/port"/>
		<param name="topic_output_port_imu_sensor" type="str" value="/gx4_45_imu/data"/>
		<param name="frequency_imu" type="int" value="50"/>
	</node>

	<node name="imu_node" output="log" pkg="zeabus_sensor" type="imu_node">
		<param name="topic_input_node_imu" type="str" value="/sensor/imu/port"/>
		<param name="topic_output_node_imu" type="str" value="/sensor/imu/node"/>
		<param name="frequency_imu" type="int" value="50"/>
	</node>

	<node name="dvl_port" output="log" pkg="zeabus_sensor" type="dvl_port">
		<param name="name_port_dvl" value="$(arg dvl_serialport)"/>
		<param name="topic_output_port" type="str" value="/sensor/dvl/port"/>
	</node>

	<node name="dvl_node" output="log" pkg="zeabus_sensor" type="dvl_node">
		<param name="topic_input_node_dvl" type="str" value="/sensor/dvl/port"/>
		<param name="topic_output_node_dvl" type="str" value="/sensor/dvl/node"/>
		<param name="topic_imu" type="str" value="/sensor/imu/node"/>
	</node>

    <include file="$(find zeabus_elec_ros_power_dist)/launch/power_dist.launch"/>

    <include file="$(find zeabus_elec_ros_peripheral_bridge)/launch/peripheral_bridge.launch"/>

    <node name="Zeabus_Elec_Hardware_interface" pkg="zeabus_elec_ros_hardware_interface" 
			type="zeabus_elec_ros_hardware_interface" output="log">

        <param name="atm_pressure" value="14.8717"/>
        <param name="depth_offset" value="0"/>

    </node>

	<node name="preesure_filter" output="log" pkg="zeabus_sensor" type="pressure_filter.py"/>
	
	<include file="$(find hg_ros_pololu)/launch/maestro8.launch"/>

</launch>
