<?xml version="1.0"?>

<!--
	Detail of this propose
		01. Open IMU Serial port 1 component
		02. Open DVL Serial port 1 component
		03. Open Pressure form elec part
		04. Open PWM node to receive PWM and sent to driver of thruster
-->

<launch>

	<node name="imu_node" output="screen" pkg="zeabus_sensor" type="imu_node">
		<param name="topic_input_node_imu" type="str" value="/sensor/imu/port"/>
		<param name="topic_output_node_imu" type="str" value="/sensor/imu/node"/>
		<param name="frequency_imu" type="int" value="50"/>
	</node>

	<node name="dvl_node" output="screen" pkg="zeabus_sensor" type="dvl_node">
		<param name="topic_input_node_dvl" type="str" value="/sensor/dvl/port"/>
		<param name="topic_output_node_dvl" type="str" value="/sensor/dvl/node"/>
		<param name="topic_imu" type="str" value="/sensor/imu/node"/>
		<param name="frequency" type="int" value="50"/>
	</node>

	<node name="preesure_filter" output="screen" pkg="zeabus_sensor" type="pressure_filter.py"/>
	
</launch>
