<?xml version="1.0"?>

<launch>

	<node name="localize" output="screen" pkg="zeabus_localize" type="tf_localize_01">
		<param name="publish_topic" type="str" value="/localize/state"/>
		<param name="imu_topic" type="str" value="/sensor/imu"/>
		<param name="dvl_topic" type="str" value="/sensor/dvl"/>
		<param name="pressure_topic" type="str" value="/sensor/pressure"/>
		<param name="imu_id" type="str" value="imu"/>
		<param name="dvl_id" type="str" value="dvl"/>
		<param name="robot_id" type="str" value="robot"/>
		<param name="frame_id" type="str" value="world"/>
		<param name="frequency" type="int" value="50"/>
		<param name="aborted" type="double" value="0.001"/>
	</node>

</launch>
