<launch>
	<arg name="mission"/>
	<arg name="number"/>
	<rosparam ns="color_range_bottom_$(arg number)_$(arg mission)" command="load" file="$(find zeabus_vision)/params/$(arg number)/color_bottom_$(arg mission).yaml"></rosparam>
	<node pkg="zeabus_vision" name="color_range_bottom_$(arg number)_$(arg mission)" type="color_range_main.py" args="color_range_bottom_$(arg number)_$(arg mission)" output="screen">
		<param name="camera_topic" type='str' value='/vision/bottom/image_raw/compressed'/>
		<param name="camera_position" type='str' value='bottom'/>
		<param name="mission" type="str" value="$(arg mission)"/>
		<param name="number" type="str" value="$(arg number)"/>
	</node>
</launch>