<launch>
  <node ns="zeabus_sensor" name="imu" pkg="zeabus_sensor" type="imu_reader.py" output="screen">
    <param name="port" value="/dev/microstrain/3dm_gx5_45_0000__6251.65903" type="str" />
    <param name="port" value="/dev/ttyACM2" type="str" />
        
    <param name="baudrate" value="115200" type="int" />
    <param name="imu_rate" value="500" type="int" /> 
    <param name="pub_topic" value="/imu/data" type="str" /> 
  </node>
</launch>
